h1> EDIT YOUR UNITS! </h1>
<%= form_for (@army_unit) do |f| %> 
<h2>Choose your General</h2>
<%= f.collection_select :unit_id, @general_units, :id, :name, {:prompt => 'General'} %><br>
<h2>Choose your Infantry Units</h2> 
<%= f.collection_check_boxes :unit_id, @infantry_units, :id, :name, {:prompt => 'Infantry'} %><br>
<h2>Choose your Cavalry Units</h2> 
<%= f.collection_check_boxes :unit_id, @cavalry_units, :id, :name, {:prompt => 'Cavalry'} %><br>
<h2>Choose your Missle Unit</h2> 
<%= f.collection_select :unit_id, @missile_units, :id, :name, {:prompt => 'Missile'} %><br>
<h2>Choose your Artillery Unit</h2> 
<%= f.collection_select :unit_id, @artillery_units, :id, :name, {:prompt => 'Artillery'} %><br>
<%= f.submit %>
<% end %>  
