<h1> Welcome <%= @user.name %></h1> 

<p>“You have power over your mind - not outside events. Realize this, and you will find strength.”
― Marcus Aurelius, Meditations</p>

<% @user.armies.each do |army| %>
    <div class="army">
      <span><%= army.name %></span>
    <%= link_to "Edit", edit_army_path(army), method: :edit %> - <%= link_to "Delete", army_path(army), method: :delete, data: { confirm: "Really?" } %>
    </div>
    <% end %>

<h3><%= link_to "Create A New Army", new_army_path %></h3>
